<!DOCTYPE html>
<html>
<body>
<form id="formChangePass">
  <input type="password" minlength="4" required id="password">
  <input type="password" minlength="4" required id="confirmPassword">
  <button type="submit" id="buttonChangePassword">Cambia password</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script  src="/static/scripts.js"></script> 
</body>
</html>
